@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}


/* Custom Styling */

.coolinput {
    position: static;
  }
  
  .coolinput label.text {
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    width: fit-content;
  }
  
  .coolinput input[type=text].input {
    border: 1px #fabb04 solid;
    border-radius: 5px;
    background: #ffffff;
  }
  
  .coolinput input[type=text].input:disabled {
    border: 1px grey dotted;
  }
  .coolinput input[type=text].input:focus {
    outline: none;
  }

  /* .gold-background{
    background-attachment: fixed;
    background-image: url('../../public/images/top-view-gunny-sack-with-gold-ore.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */


/* Scroll Bar Styling */


/* Pop-Down Styling */

.card {
  transition: all 0.3s ease !important;
  position: relative;
  cursor: pointer;
  border: 0.5px solid #e2aa03;
  box-shadow: 0.5px 0.5px 6px 0.5px #e2aa03;
}

.card .title{
  display: none;
}

@media screen and (min-width: 425px) {
  .card .title{
    display: block;
  }
}

.card .text {
  opacity: 0;
  max-height: 0;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.card:hover {
  height: auto;
}

.card:hover .text {
  transition: all 0.8s ease;
  opacity: 1;
  max-height: 100px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}

.card:hover .title{
  display: block;
  color: #fabb04;
}


.buy-element:hover,.sell-element:hover{
  animation: rotate-element 3s linear infinite;
  -webkit-animation: rotate-element 3s linear infinite;
}

@keyframes rotate-element {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}